body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	display:inline;
	float: left;
	margin: 0;
	padding: 0;
}

ul ul {
	margin-top: 30px;
}

li {
	display: inline;
	float: left;
}

.player-score {
	display: block;
	float: none;
	margin-left: 15px;
	margin-right: 15px;
}

h1 {
	padding: 0;
	font-size: 2.5em;
	background: #737373;
	margin: 10px 0px;
}

table {
	margin: auto;
	font-size: 4em;
	background: #737373;
}

td {
	width: 100px;
	height: 100px;
}

button {
	width: 50%;
	height: 40px;
	background: #737373;
	border: none;
	font-size: 1.5em;
	padding: 0;
}

button:hover {
	background: #d9d9d9;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	cursor: pointer;
}

td:hover {
	background: #d9d9d9;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	cursor: pointer;
}

.vertical {
	border-left: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7;
}

.horizontal {
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

#message {
	width: 300px;
	height: 40px;
	margin: 0 auto;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 40px;
	background: #737373;
	color: black;
}

#container {
	width: 400px;
	margin: 20px auto;
	height: 470px;
	background: #737373;
	border: 2px solid #737373;
	border-radius: 5%;
	-webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}

.hidden {
	opacity: 0;
}